body {
  background-image: url("../images/background/fundo.png");
  background-color: #221E62;
  background-repeat: no-repeat; 
  background-size: 100% 100%;
}

.menu-bar {
  padding: 0 15px;
  line-height: 130px;
}

.menu-item {
  margin: 0 5px;
}

.menu-item a {
  display: block;
  height: 80px;
  &:hover {
    border: 1px solid white;
  }
}

.menu-item img {
  width: 80px;
  height: 80px;
  padding: 2px;
}

.menu-item:nth-child(7) img {
  width: 130px;
}

.menu-item:nth-child(8) img {
  width: 130px;
  height: 30px;
  margin-top: 24px;
}
